<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main window -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side view -->
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                          <img src="images/about.jpg" alt="none" class="img-fluid" title="Amit" >
                        </figure>
                    </div>
                    <!-- right side view -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <span class="text_clr">mern Stack Developer</span> Competitive Coder and Machine Learner</h1>
                        <a href="/"><button>About Me</button></a>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
  {{>footer}}
</body>
</html>